<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/judoc.css">
  <link rel="stylesheet" href="/css/poole_hyde.css">
  <!-- style adjustments -->
  <style>
    html {font-size: 17px;}
    .jd-content {position: relative; padding-left: 8%; padding-right: 5%; line-height: 1.35em;}
    @media (min-width: 940px) {
      .jd-content {width: 100%; margin-left: auto; margin-right: auto;}
    }
    @media (max-width: 768px) {
      .jd-content {padding-left: 6%; padding-right: 6%;}
    }
  </style>
  <link rel="icon" href="/assets/infra/favicon.png">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">Hyde</a></h1>
      <p class="lead">A two-column theme.</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {{ispage /index.html}}active{{end}}" href="/">Home</a>
      <a class="sidebar-nav-item {{ispage /pub/menu1.html}}active{{end}}" href="/pub/menu1.html">Menu 1</a>
      <a class="sidebar-nav-item {{ispage /pub/menu2.html}}active{{end}}" href="/pub/menu2.html">Menu 2</a>
      <a class="sidebar-nav-item {{ispage /pub/menu3.html}}active{{end}}" href="/pub/menu3.html">Menu 3</a>
    </nav>
    <p>&copy; {{fill author}}.</p>
  </div>
</div>
<div class="content container">
<!-- Content appended here -->
