<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  

  <link href="/FranklinTemplates.jl/templates/vela/css/franklin.css" rel="stylesheet">
<link href="/FranklinTemplates.jl/templates/vela/css/vela.css" rel="stylesheet">
<script src="/FranklinTemplates.jl/templates/vela/libs/vela/jquery.min.js"></script>

<link rel="icon" href="/FranklinTemplates.jl/templates/vela/assets/favicon.png">


  <title>Franklin Example | Vela</title>
</head>
<body>
<div class="main-nav" id="menu">
  <div class="flex-container">
    <span class="sidebar-brand">
      <h3 style='font-size: 25px'>Vela Template</h3>
    </span>
  </div> <!-- class="flex-container" -->

  <nav class="sidebar-nav">
    <ul class="metismenu"  id="metismenu" >
      <li><a href="/FranklinTemplates.jl/templates/vela/index.html">Home</a></li>
      <li><a href="/FranklinTemplates.jl/templates/vela/menu1/">Code blocks</a></li>
      <li><a href="" class="has-arrow">Topic</a>
        <ul>
          <li><a href="/FranklinTemplates.jl/templates/vela/menu2/">More goodies</a></li>
        </ul>
      </li>
      <li><a href="/FranklinTemplates.jl/templates/vela/menu3/">Tags</a></li>
    </ul>
  </nav>
</div> <!-- main nav menu -->

<main id="panel">
  <div class="toggle-button hamburger hamburger--spin">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>
  <h1 class="page title">404: File not found</h1>
  <hr>



<!-- Content appended here -->
<div class="franklin-content"><h1 id="404_file_not_found"><a href="#404_file_not_found">404: File not found</a></h1>
<p>The requested file was not found.</p>
<p>Please <a href="/FranklinTemplates.jl/templates/vela/">click here</a> to go to the home page.</p>
<div class="page-foot">
  <div class="copyright">
    &copy; Septimia Zenobia. Last modified: January 05, 2021. Website built with <a href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a> and the <a href="https://julialang.org">Julia programming language</a>.
  </div>
</div>
</div><!-- CONTENT ENDS HERE -->
  </main> <!-- end of id=main -->
  <script src="/FranklinTemplates.jl/templates/vela/libs/vela/metisMenu.min.js"></script>
  <script src="/FranklinTemplates.jl/templates/vela/libs/vela/slideout.min.js"></script>
  
  
</body>
</html>
