<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Un-minified script so that can play a bit -->
<link rel="stylesheet" href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/libs/katex/katex.min.css">
   
   <!-- Syntax highlighting via Prism, note: restricted langs -->
<link rel="stylesheet" href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/libs/highlight/github.min.css">
   

  <link href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/css/judoc.css" rel="stylesheet">
  <link href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/css/vela.css" rel="stylesheet">
  <script src="/libs/vela/jquery.min.js"></script>

  <link rel="icon" href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/assets/infra/favicon.png">

  <title>JuDoc Example | Vela</title>
</head>
<body>
  <div class="main-nav" id="menu">
    <div class="flex-container">
      <span class="sidebar-brand">
        <h3 style='font-size: 25px'>Vela Template</h3>
      </span>
    </div> <!-- class="flex-container" -->

    <nav class="sidebar-nav">
      <ul class="metismenu"  id="metismenu" >
        <li><a href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/index.html">Home</a></li>
        <li><a href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/pub/menu1.html">Menu 1</a></li>
        <li><a href="" class="has-arrow">Topic</a>
          <ul>
            <li><a href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/pub/menu2.html">Menu 2</a></li>
          </ul>
        </li>
        <li><a href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/pub/menu3.html">Menu 3</a></li>
      </ul>
    </nav>
  </div> <!-- main nav menu -->

  <main id="panel">
    <div class="toggle-button hamburger hamburger--spin">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
    <h1 class="page title">JuDoc Example</h1>
    <hr>


<!-- Content appended here -->

<div class="jd-content">
<h1>How to use JuDoc</h1>
<p>This section is meant as a refresher if you&#39;re new to JuDoc. Have a look at both how the website renders and the corresponding markdown &#40;<code>index.md</code>&#41;. Modify at will to get a feeling for how things work&#33;</p>
<p>Ps: if you want to modify the header or footer or the general look of the website, adjust the files in</p>
<ul>
<li><p><code>src/_css/</code> and</p>
</li>
<li><p><code>src/_html_parts/</code>.</p>
</li>
</ul>
<h2>The base with Markdown</h2>
<p>The <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">standard markdown syntax</a> can be used such as titles using <code>#</code>, lists:</p>
<ul>
<li><p>element with <strong>bold</strong></p>
</li>
<li><p>element with <em>emph</em></p>
</li>
</ul>
<p>or code-blocks <code>inline</code> or with highlighting &#40;note the <code>@def hascode &#61; true</code> in the source to allow <a href="https://highlightjs.org/">highlight.js</a> to do its job&#41;:</p>
<pre><code class=julia>abstract type Point end
struct PointR2{T<:Real} <: Point
    x::T
    y::T
end
struct PointR3{T<:Real} <: Point
    x::T
    y::T
    z::T
end
function len(p::T) where T<:Point
  sqrt(sum(getfield(p, η)^2 for η ∈ fieldnames(T)))
end
</code></pre>
<p>You can also quote stuff</p>
<blockquote>
<p>You must have chaos within you to ...</p>
</blockquote>
<p>or have tables:</p>
<table><tr><th>English</th><th>Mandarin</th></tr><tr><td>winnie the pooh</td><td>维尼熊</td></tr></table>
<p>Note that you may have to do a bit of CSS-styling to get these elements to look the way you want them &#40;the same holds for the whole page in fact&#41;.</p>
<h2>Basic JuDoc extensions</h2>
<h3>Divs</h3>
<p>It is sometimes useful to have a short way to make a part of the page belong to a div so that it can be styled separately. You can do this easily with JuDoc by using <code>@@divname ... @@</code>. For instance, you could want a blue background behind some text.</p>
<div class="colbox-blue">Here we go&#33; &#40;this is styled in the css sheet with name &quot;colbox-blue&quot;&#41;.</div>

<p>Since it&#39;s just a <code>&lt;div&gt;</code> block, you can put this construction wherever you like and locally style your text.</p>
<h3>LaTeX and Maths</h3>
<p>Essentially three things are imitated from LaTeX</p>
<ol>
<li><p>you can introduce definitions using <code>\newcommand</code></p>
</li>
<li><p>you can use hyper-references with <code>\eqref</code>, <code>\cite</code>, ...</p>
</li>
<li><p>you can show nice maths &#40;via KaTeX&#41;</p>
</li>
</ol>
<p>The definitions can be introduced in the page or in the <code>config.md</code> &#40;in which case they&#39;re available everywhere as opposed to just in that page&#41;. For instance, the commands <code>\scal</code> and <code>\R</code> are defined in the config file &#40;see <code>src/config.md</code>&#41; and can directly be used whereas the command <code>\E</code> is defined below &#40;and therefore only available on this page&#41;:</p>
<p>Now we can write something like</p>
<a id="q8yV"></a>\[  \varphi(\mathbb E\left[ X\right]) \le \mathbb E\left[ \varphi(X)\right].  \]
<p>since we&#39;ve given it the label <code>\label&#123;equation blah&#125;</code>, we can refer it like so: <span class="eqref">(<b>??</b>)</span> which can be convenient for pages that are math-heavy.</p>
<p>In a similar vein you can cite references that would be at the bottom of the page: <span class="bibref">(<b>??</b>, <b>??</b>)</span>.</p>
<p><strong>Note</strong>: the LaTeX commands you define can also incorporate standard markdown &#40;though not in a math environment&#41; so for instance let&#39;s define a silly <code>\bolditalic</code> command.</p>
<p>and use it <em><strong>here for example</strong></em>.</p>
<h3>A quick note on whitespaces</h3>
<p>For most commands you will use <code>#k</code> to refer to the \(k\)-th argument as in LaTeX. In order to reduce headaches, this forcibly introduces a whitespace on the left of whatever is inserted which, usually, changes nothing visible &#40;e.g. in a math settings&#41;. However there <em>may be</em> situations where you do not want this to happen and you know that the insertion will not clash with anything else. In that case, you should simply use <code>&#33;#k</code> which will not introduce that whitespace. It&#39;s probably easier to see this in action:</p>
<ul>
<li><p>with: <code>/usr/local/bin/ script.jl</code>, there&#39;s a whitespace you don&#39;t want 🚫</p>
</li>
<li><p>without: <code>/usr/local/bin/script.jl</code> here there isn&#39;t ✅</p>
</li>
</ul>
<h3>Raw HTML</h3>
<p>You can include raw HTML by just surrounding a block with <code>~~~</code>. Not much more to add. This may be useful for local custom layouts like having a photo next to a text in a specific way.</p>

<div class="row">
  <div class="container">
    <img class="left" src="assets/infra/rndimg.jpg">
    <p>
    Marine iguanas are truly splendid creatures. They're found on the Gálapagos islands, have skin that basically acts as a solar panel, can swim and may have the ability to adapt their body size depending on whether there's food or not.
    </p>
    <p>
    Evolution is cool.
    </p>
    <div style="clear: both"></div>      
  </div>
</div>

<p><strong>Note 1</strong>: again, entire such blocks can be made into latex-like commands via <code>\newcommand&#123;\mynewblock&#125;&#91;1&#93;&#123;...&#125;</code>.</p>
<p><strong>Note 2</strong>: whatever is in a raw HTML block is <em>not</em> further processed &#40;so you can&#39;t have LaTeX in there for instance&#41;. A partial way around this is to use <code>@@...</code> blocks which <em>will</em> be recursively parsed. The following code gives the same result as above with the small difference that there is LaTeX being processed in the inner div.</p>
<div class="row"><div class="container"><div class="left"><img src="assets/infra/rndimg.jpg" alt="" /> </div>
</div>
 Marine iguanas are <strong>truly splendid</strong> creatures. They&#39;re not found in equations like \(\exp(-i\pi)+1\). But they&#39;re still quite cool. 
<div style="clear: both"></div>
</div>

<h2>Pages and structure</h2>
<p>Here are a few empty pages connecting to the menu links to show where files can go and the resulting paths. &#40;It&#39;s probably best if you look at the source folder for this&#41;.</p>
<ul>
<li><p><a href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/pub/menu1.html">menu 1</a></p>
<ul>
<li><p><a href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/pub/menu1/example.html">example page</a></p>
</li>
</ul>
</li>
<li><p><a href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/pub/menu2.html">menu 2</a></p>
</li>
<li><p><a href="/JuDocTemplates.jl/JuDocTemplates.jl/JuDocTemplates.jl/templates/vela/pub/menu3.html">menu 3</a></p>
</li>
</ul>
<h2>References &#40;not really&#41;</h2>
<ul>
<li><p><a id="KbcT"></a> <strong>Noether</strong>,  Körper und Systeme rationaler Funktionen, 1915.</p>
</li>
<li><p><a id="Elfy"></a> <strong>Bezanson</strong>, <strong>Edelman</strong>, <strong>Karpinski</strong> and <strong>Shah</strong>, <a href="https://julialang.org/publications/julia-fresh-approach-BEKS.pdf">Julia: a fresh approach to numerical computing</a>, SIAM review 2017.</p>
</li>
</ul>
<h2>Header and Footer</h2>
<p>As you can see here at the bottom of the page, there is a footer which you may want on all pages but for instance you may want the date of last modification to be displayed. In a fashion heavily inspired by <a href="https://gohugo.io">Hugo</a>, you can write things like</p>
<pre><code class=html>Last modified: May 01, 2019.
</code></pre>
<p>&#40;cf. <code>src/_html_parts/page_foot.html</code>&#41; which will then replace these braces with the content of a dictionary of variables at the key <code>jd_mtime</code>. This dictionary of variables is accessed locally by pages through <code>@def varname &#61; value</code> and globally through the <code>config.md</code> page via the same syntax.</p>
<p>There&#39;s a few other such functions of the form <code>&#123;&#123;fname p₁ p₂&#125;&#125;</code> as well as support for conditional blocks. If you wander through the <code>src/_html_parts/</code> folder and its content, you should be able to see those in action.</p>
<h2>Including scripts</h2>
<p>In order to include the content of a script you can use the <code>\input</code> command specifying which language it should be tagged as:</p>
<pre><code class="language-julia">x = randn(5)
y = randn(5)

for i in 1:5
    println(rpad("*"^i, 10, '-'), round(dot(x, y), digits=1))
end
</code></pre>
<p>these scripts can be run in such a way that their output is also saved to file, see <code>scripts/generate_results.jl</code> and you can then also input the results:</p>
<pre><code>*---------1.3
**--------1.3
***-------1.3
****------1.3
*****-----1.3
</code></pre>
<p>which is convenient if you&#39;re presenting code. Using this approach with the <code>generate_results.jl</code> file also makes sure that all the code on your website works and that all results match the code which makes maintenance easier.</p>
<p><strong>Note</strong>: these scripts are not run by JuDoc &#40;so that it doesn&#39;t slow down live preview&#41;.</p>
<p>Finally, a similar syntax is available if you want to show plots that are produced by one of your script.</p>
<pre><code class="language-julia">using PyPlot
x = range(0, stop=1, length=50)
plot(x, sin.(2x).*exp.(-x/3))
savefig(joinpath(@__DIR__, "output", "script2.png"))
</code></pre>
<p>and then</p>
<img src="assets/scripts/output/script2.png" id="judoc-out-plot"/>
<div class="page-foot">
  <div class="copyright">
    &copy; Septimia Zenobia. Last modified: May 01, 2019. Website built with <a href="https://github.com/tlienart/JuDoc.jl">JuDoc.jl</a>.
  </div>
</div>

</div>
<!-- CONTENT ENDS HERE -->
  </main> <!-- end of id=main -->
  <script src="/libs/vela/metisMenu.min.js"></script>
  <script src="/libs/vela/slideout.min.js"></script>
  <script>
    //initialize metismenu
        $("#metismenu").metisMenu();

        //initialize slideout
        var slideout = new Slideout({
            'panel': document.getElementById('panel'),
            'menu': document.getElementById('menu'),
            'padding': 300,
            'tolerance': 70
        });

        //for closing menu on page click
        function close(eve) {
            eve.preventDefault();
            slideout.close();
        }

        //make the hamburger animation correct when using touch events
        slideout
            .on('beforeopen', function() {
                this.panel.classList.add('panel-open');
                $(".hamburger").toggleClass("is-active");
                $(".header-hamburger").toggleClass("fixed-open");
            })
            .on('open', function() {
                this.panel.addEventListener('click', close);
            })
            .on('beforeclose', function() {
                this.panel.classList.remove('panel-open');
                this.panel.removeEventListener('click', close);
                $(".hamburger").removeClass("is-active");
                $(".header-hamburger").removeClass("fixed-open");
            });

        // Toggle button
        $('.toggle-button').on('click', function() {
            slideout.toggle();
        });
  </script>
  
    <script src="/libs/katex/katex.min.js"></script>
<script src="/libs/katex/auto-render.min.js"></script>
<script>renderMathInElement(document.body)</script>

  
  
    <script src="/libs/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();hljs.configure({tabReplace: '    '});</script>

  
</body>
</html>
