<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if hasmath}} {{insert head_katex.html }}     {{end}}
    {{if hascode}} {{insert head_highlight.html }}   {{end}}
    <link rel="stylesheet" href="/css/judoc.css">
    <link rel="stylesheet" href="/css/tufte.css">
    <link rel="stylesheet" href="/css/latex.css">
    <link rel="stylesheet" href="/css/adjust.css"> <!-- sheet to overwrite some clashing styles -->
    <link rel="icon" href="/assets/infra/favicon.png">
    {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>

<body>
  <div id="layout">
    <div id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pub/menu1.html">Menu 1</a></li>
        <li><a href="/pub/menu2.html">Menu 2</a></li>
        <li><a href="/pub/menu3.html">Menu 3</a></li>
      </ul>
    </div>
    <div id="main">


<!-- Content appended here -->
