<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
   <link rel="stylesheet" href="/FranklinTemplates.jl/templates/sandbox-extended/libs/highlight/github.min.css">
   
  
  
  <link rel="stylesheet" href="/FranklinTemplates.jl/templates/sandbox-extended/css/franklin.css">
   <title>Franklin &#43; Hyperscript</title>  
</head>
<body>

<!-- Content appended here -->
<div class="franklin-content"><h1 id="franklin_hyperscript"><a href="#franklin_hyperscript">Franklin &#43; Hyperscript</a></h1>
<ul>
<li><p><a href="/FranklinTemplates.jl/templates/sandbox-extended/">back home</a></p>
</li>
</ul>
<p>If you like using <a href="https://github.com/yurivish/Hyperscript.jl">Hyperscript.jl</a> and would like to use it to include raw HTML, it&#39;s pretty easy, you just need to ensure that the resulting HTML is plugged in between <code>~~~</code>.</p>

<h2 id="examples"><a href="#examples">Examples</a></h2>
<h3 id="basic"><a href="#basic">Basic</a></h3>
<p>First example:</p>

<div class="entry"><h4>An Important Announcement</h4></div>
<p>pretty easy...</p>
<h3 id="useful_trick"><a href="#useful_trick">Useful trick</a></h3>
<p>You could just define a function to plug things in <code>~~~</code>:</p>

<p>which is then easy to use:</p>

<style>p[v-style1] {font-weight: bold;color: red;}</style> <p v-style1>hello</p>
<div class="page-foot">
  <div class="copyright">
    &copy; The Oracle. Last modified: October 01, 2020. Website built with <a href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a> and the <a href="https://julialang.org">Julia programming language</a>.
  </div>
</div>
</div><!-- CONTENT ENDS HERE -->
    
    
        


    
  </body>
</html>
