<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Un-minified script so that can play a bit -->
<link rel="stylesheet" href="/JuDocTemplates.jl/templates/vela/libs/katex/katex.min.css">
   
  

  <link href="/JuDocTemplates.jl/templates/vela/css/judoc.css" rel="stylesheet">
  <link href="/JuDocTemplates.jl/templates/vela/css/vela.css" rel="stylesheet">
  <script src="/JuDocTemplates.jl/templates/vela/libs/vela/jquery.min.js"></script>

  <link rel="icon" href="/JuDocTemplates.jl/templates/vela/assets/infra/favicon.png">

  <title>JuDoc Example | Vela</title>
</head>
<body>
  <div class="main-nav" id="menu">
    <div class="flex-container">
      <span class="sidebar-brand">
        <h3 style='font-size: 25px'>Vela Template</h3>
      </span>
    </div> <!-- class="flex-container" -->

    <nav class="sidebar-nav">
      <ul class="metismenu"  id="metismenu" >
        <li><a href="/JuDocTemplates.jl/templates/vela/index.html">Home</a></li>
        <li><a href="/JuDocTemplates.jl/templates/vela/pub/menu1.html">Menu 1</a></li>
        <li><a href="" class="has-arrow">Topic</a>
          <ul>
            <li><a href="/JuDocTemplates.jl/templates/vela/pub/menu2.html">Menu 2</a></li>
          </ul>
        </li>
        <li><a href="/JuDocTemplates.jl/templates/vela/pub/menu3.html">Menu 3</a></li>
      </ul>
    </nav>
  </div> <!-- main nav menu -->

  <main id="panel">
    <div class="toggle-button hamburger hamburger--spin">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
    <h1 class="page title">Menu 3</h1>
    <hr>


<!-- Content appended here -->

<div class="jd-content">
<h1>Menu 3 landing page</h1>

<div class="page-foot">
  <div class="copyright">
    &copy; Septimia Zenobia. Last modified: May 23, 2019. Website built with <a href="https://github.com/tlienart/JuDoc.jl">JuDoc.jl</a>.
  </div>
</div>

</div>
<!-- CONTENT ENDS HERE -->
  </main> <!-- end of id=main -->
  <script src="/JuDocTemplates.jl/templates/vela/libs/vela/metisMenu.min.js"></script>
  <script src="/JuDocTemplates.jl/templates/vela/libs/vela/slideout.min.js"></script>
  
    



  
  
</body>
</html>
