/* on narrow device, reduce margins */
@media (min-width: 940px) {
    .franklin-content {
        width: 100%;}
    }

@media (min-width: 1024px) {
    .franklin-content {
        width: 80%;
        padding-left: 12.5%;
        padding-right: 7%;
    }
}

pre {
    font-size: 17px;
}

.franklin-content code {
    font-size: 70%;
}

.franklin-content .hljs {
    font-size: 90%;
}

blockquote {
    font-size: 90%;
}

.fndef-content {
    line-height: 1.5em;
}
