<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Un-minified script so that can play a bit -->
<link rel="stylesheet" href="/JuDocTemplates.jl/templates/tufte/libs/katex/katex.min.css">
     
    
    <link rel="stylesheet" href="/JuDocTemplates.jl/templates/tufte/css/judoc.css">
    <link rel="stylesheet" href="/JuDocTemplates.jl/templates/tufte/css/tufte.css">
    <link rel="stylesheet" href="/JuDocTemplates.jl/templates/tufte/css/latex.css">
    <link rel="stylesheet" href="/JuDocTemplates.jl/templates/tufte/css/adjust.css"> <!-- sheet to overwrite some clashing styles -->
    <link rel="icon" href="/JuDocTemplates.jl/templates/tufte/assets/infra/favicon.png">
     <title>Menu 1</title>  
</head>

<body>
  <div id="layout">
    <div id="menu">
      <ul>
        <li><a href="/JuDocTemplates.jl/templates/tufte/">Home</a></li>
        <li><a href="/JuDocTemplates.jl/templates/tufte/pub/menu1.html">Menu 1</a></li>
        <li><a href="/JuDocTemplates.jl/templates/tufte/pub/menu2.html">Menu 2</a></li>
        <li><a href="/JuDocTemplates.jl/templates/tufte/pub/menu3.html">Menu 3</a></li>
      </ul>
    </div>
    <div id="main">


<!-- Content appended here -->

<div class="jd-content">
<h1>Menu 1 landing page</h1>

<div class="page-foot">
  <div class="copyright">
    &copy; Septimia Zenobia. Last modified: May 01, 2019. Website built with <a href="https://github.com/tlienart/JuDoc.jl">JuDoc.jl</a>.
  </div>
</div>

</div>
<!-- CONTENT ENDS HERE -->
        </div> <!-- end of id=main -->
    </div> <!-- end of id=layout -->
    
        



    
    
  </body>
</html>
